#show-contact {
  display: none;
  background-color: lightcyan;
  padding-top:15px;
  padding-bottom:15px;
  padding-right:15px;
  padding-left:15px;
  border-style:ridge;
  border-color:lightskyblue;
}

.contact {
  cursor: pointer;
  color: blue;
}

.contact:hover {
  text-decoration: underline;  
}

body {
  background-color: floralwhite;
  ;
}
